{:paths ["src"]
 :deps {thheller/shadow-cljs {:mvn/version "2.12.5"}
        org.clojure/clojure {:mvn/version "1.10.2"}
        applied-science/js-interop {:mvn/version "0.2.7"}
        org.clojure/core.match {:mvn/version "1.0.0"}
        expound {:mvn/version "0.8.9"}
        adamkl/cljs-express {:git/url "https://github.com/adamkl/cljs-express.git"
                             :sha "68c8752a8390ee9f6da7f514539e221e560dd75f"}}}